/* This is my custom CSS file */
.green {
    color: #3be57f;
}

.red {
    color: red;
}

.blue {
    color: blue;
}

.timeline li {
    list-style: none;
    border-left: 2px dashed red;
    position: relative;
    padding: 20px;
    border-bottom: 0.5px solid rgba(168,168,168,0.3);
}

.timeline li:before {
    content: "•";
    color: #3be57f;
    font-size: 45px;
    position: absolute;
    left: 0;
    top: -20px;
    bottom: 0;
    transform: translate(-52%,35%);
    //transform: translateX();
}
